<div id="cms-blog-list" class="row justify-content-center">
  <!-- blog post -->
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/blog/post-1.jpg" alt="Bài viết tiếng Trung công xưởng">
      <div class="card-body">
        <!-- post meta -->
        <ul class="list-inline mb-3">
          <!-- post date -->
          <li class="list-inline-item mr-3 ml-0">Chủ đề</li>
          <!-- author -->
          <li class="list-inline-item mr-3 ml-0">Tiếng Trung công xưởng</li>
        </ul>
        <a href="blog-single.html">
          <h4 class="card-title">20 mẫu câu dùng mỗi ngày ở chuyền sản xuất</h4>
        </a>
        <p class="card-text">Bài viết mẫu dạng ngắn, dễ đọc, phù hợp để kéo traffic từ nhu cầu học đi làm thực tế.</p>
        <a href="blog-single.html" class="btn btn-primary btn-sm">Đọc bài</a>
      </div>
    </div>
  </article>
  <!-- blog post -->
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/blog/post-2.jpg" alt="Bài viết song ngữ Việt Trung">
      <div class="card-body">
        <!-- post meta -->
        <ul class="list-inline mb-3">
          <!-- post date -->
          <li class="list-inline-item mr-3 ml-0">Chủ đề</li>
          <!-- author -->
          <li class="list-inline-item mr-3 ml-0">Song ngữ Việt - Trung</li>
        </ul>
        <a href="blog-single.html">
          <h4 class="card-title">Từ vựng QC song ngữ dễ nhớ cho người mới</h4>
        </a>
        <p class="card-text">Phù hợp để phát triển cụm nội dung SEO, vừa có giá trị đọc nhanh vừa dẫn về trang khóa học hoặc trang tài liệu.</p>
        <a href="blog-single.html" class="btn btn-primary btn-sm">Đọc bài</a>
      </div>
    </div>
  </article>
  <!-- blog post -->
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/blog/post-3.jpg" alt="Kinh nghiệm đi làm với quản lý người Trung">
      <div class="card-body">
        <!-- post meta -->
        <ul class="list-inline mb-3">
          <!-- post date -->
          <li class="list-inline-item mr-3 ml-0">Chủ đề</li>
          <!-- author -->
          <li class="list-inline-item mr-3 ml-0">Kinh nghiệm đi làm</li>
        </ul>
        <a href="blog-single.html">
          <h4 class="card-title">5 cách hỏi lại khi chưa nghe rõ chỉ đạo</h4>
        </a>
        <p class="card-text">Nhóm bài “học nhanh mỗi ngày” giúp homepage và blog bám sát hành vi tìm kiếm của người đi làm bận rộn.</p>
        <a href="blog-single.html" class="btn btn-primary btn-sm">Đọc bài</a>
      </div>
    </div>
  </article>
</div>
