<!-- course list -->
<div id="cms-course-list" class="row justify-content-center">
  <!-- course item -->
  <div class="col-lg-4 col-sm-6 mb-5">
    <div class="card p-0 border-primary rounded-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/courses/course-1.jpg" alt="Khóa nền tảng tiếng Trung công xưởng">
      <div class="card-body">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><i class="ti-time mr-1 text-color"></i>4 tuần</li>
          <li class="list-inline-item"><a class="text-color" href="courses.html#khoa-nen-tang">Người mới bắt đầu</a></li>
        </ul>
        <a href="courses.html#khoa-nen-tang">
          <h4 class="card-title">Khóa nền tảng tiếng Trung công xưởng</h4>
        </a>
        <p class="card-text mb-4">Làm quen phát âm, mẫu câu chào hỏi, câu lệnh cơ bản và từ vựng thường gặp trong môi trường nhà máy.</p>
        <a href="courses.html#khoa-nen-tang" class="btn btn-primary btn-sm">Xem chi tiết</a>
      </div>
    </div>
  </div>
  <!-- course item -->
  <div class="col-lg-4 col-sm-6 mb-5">
    <div class="card p-0 border-primary rounded-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/courses/course-2.jpg" alt="Khóa giao tiếp đi làm">
      <div class="card-body">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><i class="ti-time mr-1 text-color"></i>6 tuần</li>
          <li class="list-inline-item"><a class="text-color" href="courses.html#khoa-di-lam">Người đang đi làm</a></li>
        </ul>
        <a href="courses.html#khoa-di-lam">
          <h4 class="card-title">Khóa giao tiếp đi làm dùng được ngay</h4>
        </a>
        <p class="card-text mb-4">Tập trung vào hội thoại giữa nhân viên, quản lý, QC, kho và khách Trung trong các tình huống phát sinh hằng ngày.</p>
        <a href="courses.html#khoa-di-lam" class="btn btn-primary btn-sm">Xem chi tiết</a>
      </div>
    </div>
  </div>
  <!-- course item -->
  <div class="col-lg-4 col-sm-6 mb-5">
    <div class="card p-0 border-primary rounded-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/courses/course-3.jpg" alt="Khóa tăng tốc theo ca kíp">
      <div class="card-body">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><i class="ti-time mr-1 text-color"></i>8 tuần</li>
          <li class="list-inline-item"><a class="text-color" href="courses.html#khoa-tang-toc">Ca kíp bận rộn</a></li>
        </ul>
        <a href="courses.html#khoa-tang-toc">
          <h4 class="card-title">Khóa tăng tốc theo ca kíp</h4>
        </a>
        <p class="card-text mb-4">Bài học ngắn, checklist rõ ràng, phù hợp cho người ít thời gian nhưng cần tăng tốc để giao tiếp tốt hơn trong công việc.</p>
        <a href="courses.html#khoa-tang-toc" class="btn btn-primary btn-sm">Xem chi tiết</a>
      </div>
    </div>
  </div>
</div>
<!-- /course list -->
