<!-- header -->
<header class="fixed-top header">
  <!-- top header -->
  <div class="top-header py-2 bg-white">
    <div class="container">
      <div class="row no-gutters" style="align-items: center;">
        <div class="col-lg-4 text-center text-lg-left">
          <a class="text-color mr-3 cms-hotline-link" href="tel:+84900000000"><strong>HOTLINE</strong> <span class="cms-hotline-text">09xx xxx xxx</span></a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color cms-facebook-link" href="https://facebook.com/tiengtrungcongxuong365" aria-label="Facebook"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color cms-email-link" href="mailto:hello@tiengtrungcongxuong.vn" aria-label="Email"><i class="ti-email"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color cms-zalo-link" href="https://zalo.me/0900000000" aria-label="Zalo"><i class="icon-zalo-text"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="resources.html">tài liệu miễn phí</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="feedback.html">feedback</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="contact.html">đăng ký tư vấn</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- navbar -->
  <div class="navigation w-100">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark p-0">
        <a class="navbar-brand cms-logo-link" href="index.html"><img class="cms-logo" src="images/logo.png" alt="logo"></a>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item @@home">
              <a class="nav-link" href="index.html">Trang chủ</a>
            </li>
            <li class="nav-item @@about">
              <a class="nav-link" href="about.html">Giới thiệu</a>
            </li>
            <li class="nav-item @@courses">
              <a class="nav-link" href="courses.html">Khóa học</a>
            </li>
            <li class="nav-item @@blog">
              <a class="nav-link" href="blog.html">Blog</a>
            </li>
            <li class="nav-item @@resources">
              <a class="nav-link" href="resources.html">Tài liệu</a>
            </li>
            <li class="nav-item @@feedback">
              <a class="nav-link" href="feedback.html">Feedback</a>
            </li>
            <li class="nav-item @@contact">
              <a class="nav-link" href="contact.html">Liên hệ</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- /header -->
